<clr-tabs>
  <clr-tab *ngIf="currentUser.permission == 'admin'">
    <button clrTabLink (click)="toggle1()">Quản lý nhân viên</button>
    <clr-tab-content *ngIf="tab1==true" class="row">
      <div class="col-sm-12 col-md-6 col-xl-6">
        <h3>Danh sách nhân viên</h3>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Họ</th>
              <th>Tên</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index;">
              <td>{{user.id}}</td>
              <td>
                <a (click)="selectUser(i)">{{user.username}}</a>
              </td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-outline" (click)="addNewUser=true">Thêm nhân viên</button>
        <add-new-employee *ngIf="addNewUser" (close)="closeModal($event)"></add-new-employee>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-6">
        <h3 class="padding-left-right-5rem margin-bottom-25">Thông tin chi tiết nhân viên</h3>
        <div class="col-sm-12 row">
          <label class="col-sm-2">Mã số nhân viên</label>
          <input class="col-sm-6" type="text" disabled value="{{currentEmployee.manv}}">
        </div>
        <div class="col-sm-12 row">
          <label class="col-sm-2">Họ tên đầy đủ</label>
          <input class="col-sm-6" type="text" disabled value="{{currentEmployee.hoten}}">
        </div>
        <div class="col-sm-12 row">
          <label class="col-sm-2">Số điện thoại</label>
          <input class="col-sm-6" type="text" [disabled]="!editMode" [(ngModel)]="currentEmployee.dienthoai">
        </div>
        <div class="col-sm-12 row">
          <label class="col-sm-2">Địa chỉ</label>
          <input class="col-sm-6" type="text" [disabled]="!editMode" [(ngModel)]="currentEmployee.diachi">
        </div>
        <div class="col-sm-12 row">
          <label class="col-sm-2">Email</label>
          <input class="col-sm-6" type="text" [disabled]="!editMode" [(ngModel)]="currentEmployee.email">
        </div>
        <div class="col-sm-12 row">
          <label class="col-sm-2">Chúc vụ</label>
          <input class="col-sm-6" type="text" [disabled]="!editMode" [(ngModel)]="currentEmployee.chucvu">
        </div>
        <div class="col-sm-12 row">
          <label class="col-sm-2">Mức lương</label>
          <input class="col-sm-6" type="text" [disabled]="!editMode || currentUser.permission != 'admin'" [(ngModel)]="currentEmployee.mucluong">
        </div>
        <div class="col-sm-12 row">
          <label class="col-sm-2">Ngày vào làm</label>
          <input class="col-sm-6" type="text" [disabled]="!editMode || currentUser.permission != 'admin'" [(ngModel)]="currentEmployee.ngayvl">
        </div>
        <div class="padding-left-right-5rem">
          <button class="btn btn-info-outline" *ngIf="!editMode" (click)="onEdit()">Sửa</button>
          <button class="btn btn-info-outline" *ngIf="editMode" (click)="onCancel()">Hủy bỏ</button>
          <button class="btn btn-primary" *ngIf="editMode" (click)="onSave()">Lưu</button>
        </div>
      </div>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink (click)="toggle2()">Quản lý khách hàng</button>
    <clr-tab-content *ngIf="tab2==true">
      <customer class="row"></customer>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
