<h3 class="text-center">Danh sách xe đã tiếp nhận tại gara</h3>
<div class="col-sm-12 margin-bottom-25">
    <form class="search">
        <clr-dropdown [clrCloseMenuOnItemClick]="true">
            <button type="button" class="btn btn-link btn-sm" clrDropdownTrigger>
                Theo tên
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen>
                <button type="button" clrDropdownItem>Link 1</button>
                <button type="button" clrDropdownItem>Link 2</button>
            </clr-dropdown-menu>
        </clr-dropdown>
        <label class="witdh-80" for="search_input">
            <input class="witdh-100" id="search_input" type="text" placeholder="Nhập điều kiện tìm kiếm tại đây...">
        </label>
        <button class="btn btn-primary btn-sm">Tìm kiếm
            <clr-icon shape="search"></clr-icon>
        </button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Decimal</th>
            <th>Hexadecimal</th>
            <th>Binary</th>
            <th>Roman Numeral</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>I</td>
        </tr>
        <tr>
            <td>5</td>
            <td>5</td>
            <td>101</td>
            <td>V</td>
        </tr>
        <tr>
            <td>10</td>
            <td>A</td>
            <td>1010</td>
            <td>X</td>
        </tr>
        <tr>
            <td>15</td>
            <td>F</td>
            <td>1111</td>
            <td>XV</td>
        </tr>
    </tbody>
</table>