a {
    cursor: pointer;
  }
  
  ng-component {
    width: 100%;
    height: 100%;
  }
  
  .help-block {
    font-size: 12px;
  }
  
  .padding-left-5rem {
    padding-left: 5rem !important;
  }
  
  .width-unset {
    width: unset !important;
  }
  
  .width-100 {
    width: 100% !important;
  }
  
  .min-width-150 {
    min-width: 150px;
  }
  
  .absolute-bottom-0 {
    position: absolute;
    bottom: 0;
  }
  
  .text-align-center {
    text-align: center;
  }
  
  .line-heght-normal {
    line-height: normal !important;
  }
  
  .padding-left-right-5rem {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  
  .margin-bottom-25 {
    margin-bottom: 25px;
  }
  .width-70{
    width: 70%;
  }
  .text-center{
    text-align: center;
  }
  .row{
    margin: 0 !important;
  }