<div class="col-sm-12 col-md-6 col-xl-6">
  <h3>Danh sách khách hàng</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Mã khách hàng</th>
        <th>Tên khách hàng</th>
        <th>Dịa chỉ</th>
        <th>Đeiện thoại</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Customer of Customers; let i = index;">
        <td>{{Customer.makh}}</td>
        <td>
          <a (click)="selectCustomer(i)">{{Customer.tenkh}}</a>
        </td>
        <td>{{Customer.diachi}}</td>
        <td>{{Customer.dienthoai}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-outline" (click)="addNewCustomer=true">Thêm khách hàng</button>

</div>
<div class="col-sm-12 col-md-6 col-xl-6" *ngIf="!loading">
  <h3 class="padding-left-right-5rem margin-bottom-25">Thông tin từng khách hàng</h3>
  <div class="col-sm-12 row">
    <label class="col-sm-2">Mã khách hàng</label>
    <input class="col-sm-6" type="text" disabled [(ngModel)]="currentCustomer.makh">
  </div>
  <div class="col-sm-12 row">
    <label class="col-sm-2">Họ tên đầy đủ</label>
    <input class="col-sm-6" type="text" [disabled]="!editMode" [(ngModel)]="currentCustomer.tenkh">
  </div>
  <div class="col-sm-12 row">
    <label class="col-sm-2">Địa chỉ</label>
    <input class="col-sm-6" type="text" [disabled]="!editMode" [(ngModel)]="currentCustomer.diachi">
  </div>
  <div class="col-sm-12 row">
    <label class="col-sm-2">Số điện thoại</label>
    <input class="col-sm-6" type="text" [disabled]="!editMode" [(ngModel)]="currentCustomer.dienthoai">
  </div>
  <div class="padding-left-right-5rem">
    <button class="btn btn-info-outline" *ngIf="!editMode" (click)="onEdit()">Sửa</button>
    <button class="btn btn-info-outline" *ngIf="editMode" (click)="onCancel()">Hủy bỏ</button>
    <button class="btn btn-primary" *ngIf="editMode" (click)="onSave()">Lưu</button>
  </div>
</div>
