<clr-tabs>
    <clr-tab>
        <button clrTabLink>Tìm kiếm</button>
        <ng-template >
            <clr-tab-content>
                <task-search></task-search>
            </clr-tab-content>
        </ng-template>
    </clr-tab>

    <clr-tab>
        <button clrTabLink>Tiếp nhận xe</button>
        <ng-template >
            <clr-tab-content>

            </clr-tab-content>
        </ng-template>
    </clr-tab>

    <clr-tab>
        <button clrTabLink>Lập phiếu sửa chữa</button>
        <ng-template >
            <clr-tab-content>
                ...
            </clr-tab-content>
        </ng-template>
    </clr-tab>

    <clr-tab>
        <button clrTabLink>Lập phiếu thu tiền</button>
        <ng-template >
            <clr-tab-content>
                ...
            </clr-tab-content>
        </ng-template>
    </clr-tab>
</clr-tabs>