.about {
  background-image: url('1.jpg');
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: scale(1.01);
  top: 57px;
  z-index: 0;
}

.center {
  position: relative;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.center h1 {
  margin-top: 15%;
  font-size: 3rem;
}
h1, h2, h3, h4, span {
    color: white;
}
h4 {
    margin-top: 10px !important;
}
