﻿<div class="about">

</div>
<div class="center">
  <h1>QUẢN LÝ GARA OTO</h1>
  <h2>Website thuộc đồ án môn học Quản lý dự án công nghệ thông tin. <br> Lớp IS208 - ĐH CNTT - ĐHQG HCM</h2>
  <div>
      <h3>Thành viên nhóm:</h3>
      <h4>Nguyễn Văn Viết - 1552007 - Developer</h4><br>
      <h4>Chế Viết Hải - 15521007 - Analyst</h4><br>
      <h4>Thế Khởi - 15521007 - Reporter</h4><br>
      <h4>Chế Viết Hải - 15521007 - Analyst</h4><br>
  </div>
</div>
