﻿<clr-main-container>
  <clr-header *ngIf="isLoggedIn$ | async" class="header header-6" style="z-index: 100;">
    <div class="branding">
      <a [routerLink]="['/home']" class="nav-link">
        <clr-icon shape="car"></clr-icon>
        <span class="title">Hệ thống quản lý Gara</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a [routerLink]="['/admin']" routerLinkActive="active" class="nav-link nav-icon">
        <clr-icon shape="administrator"></clr-icon>
        <div class="title width-100 absolute-bottom-0 text-align-center line-heght-normal">Admin</div>
      </a>
      <a [routerLink]="['/task']" routerLinkActive="active" class="nav-link nav-icon">
        <clr-icon shape="tasks"></clr-icon>
        <div class="title width-100 absolute-bottom-0 text-align-center line-heght-normal">Tác vụ</div>
      </a>
      <a [routerLink]="['/report']" routerLinkActive="active" class="nav-link nav-icon">
        <clr-icon shape="export"></clr-icon>
        <div class="title width-100 absolute-bottom-0 text-align-center line-heght-normal">Báo cáo</div>
      </a>
      <a [routerLink]="['/data']" routerLinkActive="active" class="nav-link nav-icon">
        <clr-icon shape="storage"></clr-icon>
        <div class="title width-100 absolute-bottom-0 text-align-center line-heght-normal">Dữ liệu</div>
      </a>
      <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link nav-icon">
        <clr-icon shape="help-info"></clr-icon>
        <div class="title width-100 absolute-bottom-0 text-align-center line-heght-normal">Trợ giúp</div>
      </a>
    </div>
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Tìm kiếm...">
      </label>
    </form>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          Xin chào {{currentUser.firstName}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="..." clrDropdownItem>About</a>
          <a href="..." clrDropdownItem>Preferences</a>
          <a [routerLink]="['/login']" (click)="logout()" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="">
    <router-outlet></router-outlet>
  </div>

</clr-main-container>
<loading-page></loading-page>
<div id="overlay" hidden></div>
