<div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add new employee</h3>
            </div>
            <div *ngIf="!success" class="modal-body">
                <form class="login" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                    <div class="form-group padding-left-5rem" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
                        <label class="width-unset" for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
                        <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
                    </div>
                    <div class="form-group padding-left-5rem" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
                        <label class="width-unset" for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
                        <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
                    </div>
                    <div class="form-group padding-left-5rem" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <label class="width-unset" for="username">Username</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                    </div>
                    <div class="form-group padding-left-5rem" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <label class="width-unset" for="password">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                    </div>

                    <clr-alert [clrAlertClosable]="false" [clrAlertType]="'alert-danger'" [clrAlertSizeSmall]="true" *ngIf="message != '' && success == false">
                        <div class="alert-item">
                            <span class="alert-text">
                                {{message}}
                            </span>
                        </div>
                    </clr-alert>
                </form>
            </div>
            <div *ngIf="success" class="modal-body">
                <clr-alert [clrAlertClosable]="false" [clrAlertType]="'alert-success'" [clrAlertSizeSmall]="true">
                    <div class="alert-item">
                        <span class="alert-text">
                            {{message}}
                        </span>
                    </div>
                </clr-alert>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline" type="button" (click)="close()">Cancel</button>
                <button *ngIf="!success" [disabled]="!validateForm()" class="btn btn-primary" type="button" (click)="register()">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>