<div class="row">
  <div class="col-sm-12 col-md-6 col-xl-6">
    <h3>Danh sách hiệu xe</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Mã hiệu xe</th>
          <th>Tên hiệu xe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hieuxe of hieuxes; let i = index;">
          <td>{{hieuxe.mahx}}</td>
          <td>
            <a (click)="selecthieuxe(i)">{{hieuxe.tenhx}}</a>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-outline" (click)="onAddHieuXe()">Thêm hiệu xe</button>

  </div>
  <div class="col-sm-12 col-md-6 col-xl-6" *ngIf="!loading">
    <h3 class="padding-left-right-5rem margin-bottom-25">Thông tin từng hiệu xe</h3>
    <div class="col-sm-12 row">
      <label class="col-sm-2">Mã hiệu xe</label>
      <input class="col-sm-6" type="text" [disabled]="(!editMode) || (editMode && flag == false)" [(ngModel)]="currenthieuxe.mahx">
    </div>
    <div class="col-sm-12 row">
      <label class="col-sm-2">Tên hiệu xe</label>
      <input class="col-sm-6" type="text" [disabled]="!editMode" [(ngModel)]="currenthieuxe.tenhx">
    </div>

    <div class="padding-left-right-5rem">
      <button class="btn btn-info-outline" *ngIf="!editMode" (click)="onEdit()">Sửa</button>
      <button class="btn btn-info-outline" *ngIf="editMode" (click)="onCancel()">Hủy bỏ</button>
      <button class="btn btn-primary" *ngIf="editMode" (click)="onSave()">Lưu</button>
    </div>
  </div>
</div>
