﻿<div class="login-wrapper">
    <form class="login" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <label class="width-unset" class="title">
            <h3 class="welcome">Register</h3>
        </label>
        <div class="form-group padding-left-5rem" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
            <label class="width-unset" for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
        </div>
        <div class="form-group padding-left-5rem" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
            <label class="width-unset" for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group padding-left-5rem" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label class="width-unset" for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group padding-left-5rem" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label class="width-unset" for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group padding-left-5rem">
            <div class="error active" *ngIf="message != ''">
                {{message}}
            </div>
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>