 .loading-page,
 .loading-local {
     display: none;
     align-items: center;
     justify-content: center;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     height: 100vh;
     z-index: 1000;
 }

 .loading-page.backdrop,
 .loading-local.backdrop {
     background: rgba(55, 58, 59, 0.25);
 }

 .loading-page .loading,
 .loading-local .loading {
     position: relative;
     width: 96px;
     height: 96px;
     transform: rotate(45deg);
     animation: hue-rotate 10s linear infinite both;
 }

 .loading-page .loading .square,
 .loading-local .loading .square {
     position: absolute;
     top: 0;
     left: 0;
     width: 28px;
     height: 28px;
     margin: 2px;
     border-radius: 2px;
     background: #07a;
     background-image: linear-gradient(45deg, #fa0 40%, #0c9 60%);
     background-image: -moz-linear-gradient(#fa0, #fa0);
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     animation: square-animation 10s ease-in-out infinite both;
 }

 .loading-page .loading .square:nth-of-type(0),
 .loading-local .loading .square:nth-of-type(0) {
     animation-delay: 0s;
 }

 .loading-page .loading .square:nth-of-type(1),
 .loading-local .loading .square:nth-of-type(1) {
     animation-delay: -1.4285714286s;
 }

 .loading-page .loading .square:nth-of-type(2),
 .loading-local .loading .square:nth-of-type(2) {
     animation-delay: -2.8571428571s;
 }

 .loading-page .loading .square:nth-of-type(3),
 .loading-local .loading .square:nth-of-type(3) {
     animation-delay: -4.2857142857s;
 }

 .loading-page .loading .square:nth-of-type(4),
 .loading-local .loading .square:nth-of-type(4) {
     animation-delay: -5.7142857143s;
 }

 .loading-page .loading .square:nth-of-type(5),
 .loading-local .loading .square:nth-of-type(5) {
     animation-delay: -7.1428571429s;
 }

 .loading-page .loading .square:nth-of-type(6),
 .loading-local .loading .square:nth-of-type(6) {
     animation-delay: -8.5714285714s;
 }

 .loading-page .loading .square:nth-of-type(7),
 .loading-local .loading .square:nth-of-type(7) {
     animation-delay: -10s;
 }

 .loading-local {
     position: absolute;
     height: 100%;
 }

 @keyframes square-animation {
     0% {
         left: 0;
         top: 0;
     }
     10.5% {
         left: 0;
         top: 0;
     }
     12.5% {
         left: 32px;
         top: 0;
     }
     23% {
         left: 32px;
         top: 0;
     }
     25% {
         left: 64px;
         top: 0;
     }
     35.5% {
         left: 64px;
         top: 0;
     }
     37.5% {
         left: 64px;
         top: 32px;
     }
     48% {
         left: 64px;
         top: 32px;
     }
     50% {
         left: 32px;
         top: 32px;
     }
     60.5% {
         left: 32px;
         top: 32px;
     }
     62.5% {
         left: 32px;
         top: 64px;
     }
     73% {
         left: 32px;
         top: 64px;
     }
     75% {
         left: 0;
         top: 64px;
     }
     85.5% {
         left: 0;
         top: 64px;
     }
     87.5% {
         left: 0;
         top: 32px;
     }
     98% {
         left: 0;
         top: 32px;
     }
     100% {
         left: 0;
         top: 0;
     }
 }

 @keyframes hue-rotate {
     0% {
         filter: hue-rotate(0deg);
     }
     100% {
         filter: hue-rotate(360deg);
     }
 }