<div class="row">
  <div class="col-sm-12 col-md-6 col-xl-6">
    <h3>Danh sách phụ tùng</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Mã phụ tùng</th>
          <th>Tên phụ tùng</th>
          <th>Đơn giá</th>
          <th>Số lượng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phutung of phutungs; let i = index;">
          <td>{{phutung.mapt}}</td>
          <td>
            <a (click)="selectphutung(i)">{{phutung.tenpt}}</a>
          </td>
          <td>{{phutung.dongia}}</td>
          <td>{{phutung.soluong}}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-outline" (click)="onAddPhuTung()">Thêm phụ tùng</button>

  </div>
  <div class="col-sm-12 col-md-6 col-xl-6" *ngIf="!loading">
    <h3 class="padding-left-right-5rem margin-bottom-25">Thông tin từng phụ tùng</h3>
    <div class="col-sm-12 row">
      <label class="col-sm-2">Mã phụ tùng</label>
      <input class="col-sm-6" type="text" [disabled]="(!editMode) || (editMode && flag == false)" [(ngModel)]="currentphutung.mapt">
    </div>
    <div class="col-sm-12 row">
      <label class="col-sm-2">Tên phụ tùng</label>
      <input class="col-sm-6" type="text" [disabled]="!editMode" [(ngModel)]="currentphutung.tenpt">
    </div>
    <div class="col-sm-12 row">
      <label class="col-sm-2">Đơn giá</label>
      <input class="col-sm-6" type="text" [disabled]="!editMode" [(ngModel)]="currentphutung.dongia">
    </div>
    <div class="col-sm-12 row">
      <label class="col-sm-2">Số lượng</label>
      <input class="col-sm-6" type="text" [disabled]="!editMode" [(ngModel)]="currentphutung.soluong">
    </div>
    <div class="padding-left-right-5rem">
      <button class="btn btn-info-outline" *ngIf="!editMode" (click)="onEdit()">Sửa</button>
      <button class="btn btn-info-outline" *ngIf="editMode" (click)="onCancel()">Hủy bỏ</button>
      <button class="btn btn-primary" *ngIf="editMode" (click)="onSave()">Lưu</button>
    </div>
  </div>
</div>
