<clr-tabs>
  <clr-tab>
    <button clrTabLink>Phụ tùng</button>
    <clr-tab-content *clrIfActive>
      <phu-tung></phu-tung>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink>Quy định</button>
    <clr-tab-content *clrIfActive>

    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink>Hiệu xe</button>
    <clr-tab-content *clrIfActive>
      <hieu-xe></hieu-xe>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
